@model IEnumerable<Pizzashop.DAL.ViewModels.UserListviewmodel>


@foreach (var user in Model)
{
    <tr>
        <th scope="row" class="d-flex gap-2" style="text-align: center;">
            <img class="pt-0" style="height: 35px;" src="~/images/Default_pfp.svg.png" alt="">
            <div class="d-flex">@user.Firstname @user.Lastname</div>
        </th>
        <td class="table-field">@user.Email</td>
        <td class="table-field text-nowrap">@user.Phonenumber</td>
        <td>@user.userrole</td>
        <td><span class="status" style="color: black;">@(user.Status ? "Active" :
            "Inactive")</span>
        </td>

        <td>
            <a asp-controller="User" asp-action="EditUser" asp-route-userId="@user.UserId"><img
                    src="~/images/icons/pen-fill.svg" style="height: 20px;" alt=""></a>
            <a data-userid="@user.UserId" class="delete-user" data-bs-toggle="modal" data-bs-target="#delete">
                <img style="height: 20px;" src="~/images/icons/trash (1).svg" alt="Delete">
            </a>
        </td>
    </tr>
}